/* Remove default styles start */
a {
  text-decoration: none;
  color: inherit; /* Optionally remove default link color */
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
code,
address,
hr,
dl,
dd,
menu,
nav {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

/* Remove default styles end */
/* root start */
:root {
  /* Primary colors */
  --green: #49735a;
  --white: #ffffff;
  --dark-white: #f2f0f2;
  --black: #000000;
  --green2: #064749;
}
/* root end */

body {
  background-color: var(--white);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header  start*/
header {
  display: flex;

  padding: 10px 60px;
  flex-direction: column;
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 6rem;
}

/* #destop {
  padding: 10px 0;
} */

#destop-nav ul {
  
  display: flex;
  column-gap: 40px;
  font-weight: 700;
}



/*Check start*/

#destop-nav li, #mobileNavId li{
  color: var(--black);
  position: relative;
  padding: 4px 0;
}

#destop-nav li::after, #mobileNavId li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

#destop-nav li:hover::after, #mobileNavId li:hover::after {
  width: 100%;
}

/*Check end*/


.hamburgerMenu,
.cancelMenu {
  width: 1rem;
  display: none;
}
#mobileNavId {
  align-self: center;
   font-weight: 700;
}

.mobileNav {
  display: none;
}
#mobileNavId ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

/* header  end*/

@media (max-width: 768px) {
  header {
    padding: 10px 30px;
  }

  #logo {
    width: 6rem;
  }
  #destop-nav ul {
    display: none;
  }

  .hamburgerMenu,
  .cancelMenu,
  .mobileNav {
    display: inline-block;
  }

  .mobileNavDisplay {
    display: none;
  }
}

/* Mobile styles */
@media (max-width: 365px) {
  header {
    padding: 10px 10px;
  }

  #logo {
    width: 4rem;
  }
}
