@import "./components/Header/HeaderStyles.css";
@import "./components/Footer/Footer.css";

/* Remove default styles start */
a {
  text-decoration: none;
  color: inherit; /* Optionally remove default link color */
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
code,
address,
hr,
dl,
dd,
menu,
nav,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  line-height: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

/* Remove default styles end */
/* root start */
:root {
  /* Primary colors */
  --green: #49735a;
  --white: #ffffff;
  --dark-white: #f2f0f2;
  --black: #000000;
  --green2: #064749;
}
/* root end */

* {
  box-sizing: border-box;
}

body{
  background-color: var(--white);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

/*Section1 start*/
#section1 {
  background-image: url("./media/images/Image.jpg");
  background-size: cover;
  position: relative;
  background-position: center center;
  height: 567px;
}

#section1 .board {
  background-color: var(--white);
  height: 200x;
  width: 400px;
  position: absolute;
  top: 80px;
  display: inline-block;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  padding: 3rem 4rem;
}

#section1 .board h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

/*Section1 end*/

/*Section2 start*/
#section2 {
  padding: 9rem 3.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#section2 > div:nth-child(1) {
  background-color: var(--dark-white);
  height: 340px;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  overflow: hidden;
  align-content: center;
}

#section2 img {
  width: 100%; /* Ensures each image takes up 100% of its grid cell */
  height: 100%;
  object-fit: contain; /* Ensures the image covers the entire grid cell */
  object-position: center; /* Centers the image within its grid cell */
}

#section2 > div:nth-child(2) {
  background-color: var(--dark-white);
  height: 340px;
  width: 100%;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
}



/*Section2 end*/

@media (max-width: 768px) {
  /*Section1 start*/
  #section1 .board {
    height: 200x;
    top: 20px;
    width: 50vw;
    padding: 0.625rem 1.875rem;
  }

  #section1 .board h2 {
    font-size: 40px;
    font-weight: 700;
  }

  /*Section1 end*/
}

@media (max-width: 365px) {
  /*Section1 start*/
  #section1 .board {
    height: 200x;
    width: 80vw;
    padding: 0.625rem;
  }
  /*Section1 end*/
}
