/* Remove default styles start */
a {
    text-decoration: none;
    color: inherit; /* Optionally remove default link color */
  }
  

  ul, ol {
    list-style: none;
  }

  body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, address, hr, dl, dd, menu, nav {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
 
  input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

/* Remove default styles end */
/* root start */
:root {
    /* Primary colors */
    --green: #49735A;
    --white: #FFFFFF;
    --dark-white:#F2F0F2;
    --black:#000000;
    --green2:#064749;
}
/* root end */

body {
   background-color: var(--white);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  /* header  start*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    

  }
  nav ul {
    display: flex;
   column-gap: 40px;
   font-weight: 700;
  }
  /* header  end*/