@import "../../components/generalStyles.css";
/* @import "../../components/Header/HeaderStyles.css";
@import "../../components/Footer/Footer.css"; */

.section1 {
}

.heading {
  display: flex;
  justify-content: end;
  padding: 0.625rem 3.75rem;
  gap: 1rem;
  background-color: var(--dark-white);
}

#section2 {
  padding: 0.625rem 3.75rem;
  display: flex;
  gap: 2rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
.account-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-white);

  padding: 20px;
  border-radius: 10px;
}

.account-info p {
  font-weight: 700;
  font-size: 16px;
  color: var(--green);
}

#actionButton {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  background-color: var(--dark-white);
  border-radius: 10px;
  gap: .5rem;
}

#actioButton p{
font-weight: 700;
}



@media (max-width: 768px) {
  /* #section1 {
    padding: 0.625rem 1.875rem;
  } */
}

@media (max-width:700px){
#section2 {
  flex-direction: column;
}
};

@media (max-width: 365px) {
  .heading {
    justify-content: center;
  }
}
