@import "../../components/generalStyles.css";
@import "../signIn/signIn.css";
img {
  /* margin-top: 1rem;*/

  margin: 0.625rem 3.75rem;
  margin-bottom: 4rem;
}
h1 {
  width: 30rem;
}
.green {
  color:var(--green)
}
@media (max-width: 670px) {
  #signUpForm .inputWrapper,
  #signUpForm h1,
  #checkbox {
    width: 25rem;
  }
}

@media (max-width: 450px) {
  #signUpForm .inputWrapper,
  #signUpForm h1,
  #checkbox {
    width: 300px;
  }
}
